.home-page {
  padding-top: 4rem; /* Pour compenser la navbar fixe */
} 

/* Home page styles */
.section-title {
  font-size: 2.8rem;
  font-weight: 800;
  text-align: center;
  margin-bottom: 2rem;
  color: #333;
  position: relative;
  display: inline-block;
  width: 100%;
}

.section-title::after {
  content: '';
  position: absolute;
  width: 80px;
  height: 4px;
  background: #e63946;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 2px;
} 